.job-page-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.job-page-heading > h2 {
    font-family: 'Inter regular';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}