.job-detail-sect {
    margin-bottom: 44px;
}
.job {
    width: 120px;
    height: 50px;
    padding: 12px 24px;
    border-radius: 25px;
    border: 1px solid #0A65CC;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    background-color: #0A65CC;
    cursor: pointer;
}
.log-in-button {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.log-in-button > img {
    width: 48px;
    height: 48px;
    border: 50%;
    vertical-align: middle;
}
.sub-head {
    margin-top: 44px;
    margin-bottom: 44px;
    height: 76px;
    display: flex;
    padding: 24px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-50, #F1F2F4);
}
.sub-head > h3 {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: var(--gray-900, #18191C);
}
.job-hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.hero-detail-item {
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero-detail-item > img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.akoko > h4 {
    color: var(--gray-900, #18191C);
    /* Heading/04 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    margin-bottom: 12px;
}
.akoko > p {
    color: var(--gray-700, #474C54);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.span-eni {
    width: 98px;
    height: 28px;
    padding: 4px 12px;
    display: inline-block;
    color: var(--gray-00, #FFF);
    font-family: 'Inter regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    border-radius: 3px;
    background-color: var(--success-500, #0BA02C);
}
.span-eji {
    border-radius: 52px;
    background-color: var(--danger-50, #FFEDED);
    width: 83px;
    height: 28px;
    display: inline-block;
    padding: 4px 12px;
    color: var(--danger-500, #E05151);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.job-hero-apply {
    display: flex;
    gap: 12px;
}
.job-hero-apply > button {
    border-radius: 4px;
    background-color: var(--primary-500, #0A65CC);
    width: 248px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 56px;
    color: var(--gray-00, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
}
.bookmark {
    border-radius: 4px;
    background-color: var(--primary-50, #E7F0FA);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.job-parameters {
    display: grid;
    grid-template-columns: 760px 536px;
    gap: 24px;
}
.job-description-details > h3 {
    color: var(--gray-900, #18191C);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.job-description-details > p, .job-description-details > ul > li, .job-description-details > h4 {
    color: var(--gray-600, #5E6670);
    font-family: 'Inter regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: justify;
}
.job-description-details > h4 {
    color: var(--gray-900, #18191C);
    font-weight: 500;
}
.job-description-details > ul {
    padding-left: 30px;
}
#job-info, #job-info-2 {
    border: 2px solid var(--primary-50, #E7F0FA);
}
#job-info {
    margin-top: 32px;
    padding: 32px;
}
.salary-location {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 8px;
    border: 2px solid var(--primary-50, #E7F0FA);
    background: var(--gray-white, #FFF);
    padding: 32px;
}
.slash {
    height: 96px;
}
.job-overview {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 48px;
}
#job-info-2 {
    padding: 32px;
    border-top: none;
}
